<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Customer Manager</display-name>

    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>com.maksym.customermanager.controller.CustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>com.maksym.customermanager.controller.AccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransactionController</servlet-name>
        <servlet-class>com.maksym.customermanager.controller.TransactionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionController</servlet-name>
        <url-pattern>/transaction</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.maksym.customermanager.util.Initializer</listener-class>
    </listener>
</web-app>